.user-name-input {
    display: flex;

    div {
        margin: 0 10px;
    }

    button,
    label,
    input {
        padding: 5px;
    }

    &__input,
    &__button {
        &--disabled {
            cursor: not-allowed;
            color: grey;
        }
    }
}
