.suggestions {
  margin: 20px;

  & > div {
    padding: 5px;
  }
}

.suggestion {
  display: flex;
  align-items: center;

  &__login {
    cursor: pointer;
  }

  &__icon {
    height: 16px;
  }

  a {
    display: flex;
    align-items: center;
  }
}